/* @font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

.font-demo1 {
  font-family:'Kaushan Script';
  font-size:200%;
} */

@font-face {
  font-family: "rinfont";
  src: url(https://nabettu.github.io/fonts/rinfont.woff2) format("woff2");
}

.rinfont {
  font-family:'rinfont';
}

@font-face {
  font-family: "honokamin";
  src: url(https://nabettu.github.io/fonts/honokamin.woff2) format("woff2");
}

.honokamin {
  font-family:'honokamin';
}

@font-face {
  font-family: "utamin-hoshi0";
  src: url(https://nabettu.github.io/fonts/utamin-hoshi0.woff2) format("woff2");
}

.utamin-hoshi0 {
  font-family:'utamin-hoshi0';
}
