/* @font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(https://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03IFhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

.font-demo1 {
  font-family:'Kaushan Script';
  font-size:200%;
} */

@font-face {
  font-family: "rinfont";
  src: url(https://nabettu.github.io/fonts/rinfont.woff2) format("woff2");
}

.rinfont {
  font-family:'rinfont';
}

@font-face {
  font-family: "honokamin";
  src: url(https://nabettu.github.io/fonts/honokamin.woff2) format("woff2");
}

.honokamin {
  font-family:'honokamin';
}

@font-face {
  font-family: "utamin-hoshi0";
  src: url(https://nabettu.github.io/fonts/utamin-hoshi0.woff2) format("woff2");
}

.utamin-hoshi0 {
  font-family:'utamin-hoshi0';
}

/* <div class="fontloader"><div class="loader"><link href="https://nabettu.github.io/fonts/rinfont.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "rinfont";
  src: url(https://nabettu.github.io/fonts/rinfont.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/honokamin.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "honokamin";
  src: url(https://nabettu.github.io/fonts/honokamin.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/utamin-hoshi0.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "utamin-hoshi0";
  src: url(https://nabettu.github.io/fonts/utamin-hoshi0.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/corporate.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "corporate";
  src: url(https://nabettu.github.io/fonts/corporate.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Kazesawa-Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Kazesawa-Regular";
  src: url(https://nabettu.github.io/fonts/Kazesawa-Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/rounded-mgenplus-1c.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "rounded-mgenplus-1c";
  src: url(https://nabettu.github.io/fonts/rounded-mgenplus-1c.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/honokamarugo.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "honokamarugo";
  src: url(https://nabettu.github.io/fonts/honokamarugo.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/timemachine-wa.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "timemachine-wa";
  src: url(https://nabettu.github.io/fonts/timemachine-wa.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/PixelMplus12Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "PixelMplus12Regular";
  src: url(https://nabettu.github.io/fonts/PixelMplus12Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/KH-Dot-Dougenzaka12.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "KH-Dot-Dougenzaka12";
  src: url(https://nabettu.github.io/fonts/KH-Dot-Dougenzaka12.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/g_comichorrorR.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "g_comichorrorR";
  src: url(https://nabettu.github.io/fonts/g_comichorrorR.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Shirokuma-Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Shirokuma-Regular";
  src: url(https://nabettu.github.io/fonts/Shirokuma-Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Pomeranian-Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Pomeranian-Regular";
  src: url(https://nabettu.github.io/fonts/Pomeranian-Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/kei-font.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "kei-font";
  src: url(https://nabettu.github.io/fonts/kei-font.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/PopRumCute.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "PopRumCute";
  src: url(https://nabettu.github.io/fonts/PopRumCute.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Ronde-B_square.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Ronde-B_square";
  src: url(https://nabettu.github.io/fonts/Ronde-B_square.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/nyashi.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "nyashi";
  src: url(https://nabettu.github.io/fonts/nyashi.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/corporatemarugo.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "corporatemarugo";
  src: url(https://nabettu.github.io/fonts/corporatemarugo.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/rounded-mplus-1c-regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "rounded-mplus-1c-regular";
  src: url(https://nabettu.github.io/fonts/rounded-mplus-1c-regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/mishimishi.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "mishimishi";
  src: url(https://nabettu.github.io/fonts/mishimishi.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/OradanoGSRR.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "OradanoGSRR";
  src: url(https://nabettu.github.io/fonts/OradanoGSRR.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/AppliMincho.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "AppliMincho";
  src: url(https://nabettu.github.io/fonts/AppliMincho.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/19segBox.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "19segBox";
  src: url(https://nabettu.github.io/fonts/19segBox.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/JKG-M3.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "JKG-M3";
  src: url(https://nabettu.github.io/fonts/JKG-M3.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/GLAntiquePlus.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "GLAntiquePlus";
  src: url(https://nabettu.github.io/fonts/GLAntiquePlus.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/memwoir.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "memwoir";
  src: url(https://nabettu.github.io/fonts/memwoir.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/SoukouMincho.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "SoukouMincho";
  src: url(https://nabettu.github.io/fonts/SoukouMincho.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/annyantoroman.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "annyantoroman";
  src: url(https://nabettu.github.io/fonts/annyantoroman.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/mgenplus-1c-regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "mgenplus-1c-regular";
  src: url(https://nabettu.github.io/fonts/mgenplus-1c-regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/851tegaki.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "851tegaki";
  src: url(https://nabettu.github.io/fonts/851tegaki.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/pigmo01.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "pigmo01";
  src: url(https://nabettu.github.io/fonts/pigmo01.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/cinderella-regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "cinderella-regular";
  src: url(https://nabettu.github.io/fonts/cinderella-regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/star-font.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "star-font";
  src: url(https://nabettu.github.io/fonts/star-font.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/851chikara_dzuyoku.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "851chikara_dzuyoku";
  src: url(https://nabettu.github.io/fonts/851chikara_dzuyoku.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Marukkana.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Marukkana";
  src: url(https://nabettu.github.io/fonts/Marukkana.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/JKG-L3.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "JKG-L3";
  src: url(https://nabettu.github.io/fonts/JKG-L3.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/zou-Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "zou-Regular";
  src: url(https://nabettu.github.io/fonts/zou-Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/kaisotai.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "kaisotai";
  src: url(https://nabettu.github.io/fonts/kaisotai.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/mushinfont.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "mushinfont";
  src: url(https://nabettu.github.io/fonts/mushinfont.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/gagagaga.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "gagagaga";
  src: url(https://nabettu.github.io/fonts/gagagaga.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/kokugo.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "kokugo";
  src: url(https://nabettu.github.io/fonts/kokugo.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/GenJyuuGothicRegular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "GenJyuuGothicRegular";
  src: url(https://nabettu.github.io/fonts/GenJyuuGothicRegular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Pigmo-00.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Pigmo-00";
  src: url(https://nabettu.github.io/fonts/Pigmo-00.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/KH-Dot-Kagurazaka12.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "KH-Dot-Kagurazaka12";
  src: url(https://nabettu.github.io/fonts/KH-Dot-Kagurazaka12.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/g_comickoin.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "g_comickoin";
  src: url(https://nabettu.github.io/fonts/g_comickoin.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/GenShinGothicRegular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "GenShinGothicRegular";
  src: url(https://nabettu.github.io/fonts/GenShinGothicRegular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/SenobiGothic.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "SenobiGothic";
  src: url(https://nabettu.github.io/fonts/SenobiGothic.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/tetsubin.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "tetsubin";
  src: url(https://nabettu.github.io/fonts/tetsubin.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/ghatee.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "ghatee";
  src: url(https://nabettu.github.io/fonts/ghatee.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/haranyanko.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "haranyanko";
  src: url(https://nabettu.github.io/fonts/haranyanko.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/jiyucho.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "jiyucho";
  src: url(https://nabettu.github.io/fonts/jiyucho.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/ant-maru.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "ant-maru";
  src: url(https://nabettu.github.io/fonts/ant-maru.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/komorebi.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "komorebi";
  src: url(https://nabettu.github.io/fonts/komorebi.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/eminko-font.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "eminko-font";
  src: url(https://nabettu.github.io/fonts/eminko-font.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/kurobara-cinderella.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "kurobara-cinderella";
  src: url(https://nabettu.github.io/fonts/kurobara-cinderella.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/19seg-oval-edge-L.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "19seg-oval-edge-L";
  src: url(https://nabettu.github.io/fonts/19seg-oval-edge-L.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/wapuro-mincho.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "wapuro-mincho";
  src: url(https://nabettu.github.io/fonts/wapuro-mincho.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/tarokofont.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "tarokofont";
  src: url(https://nabettu.github.io/fonts/tarokofont.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/KH-Dot-Kodenmachou12.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "KH-Dot-Kodenmachou12";
  src: url(https://nabettu.github.io/fonts/KH-Dot-Kodenmachou12.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/HOSHINOTIRABARI.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "HOSHINOTIRABARI";
  src: url(https://nabettu.github.io/fonts/HOSHINOTIRABARI.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/shiasattefont.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "shiasattefont";
  src: url(https://nabettu.github.io/fonts/shiasattefont.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/BugMaruGothic.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "BugMaruGothic";
  src: url(https://nabettu.github.io/fonts/BugMaruGothic.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/mutsuki.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "mutsuki";
  src: url(https://nabettu.github.io/fonts/mutsuki.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Makinas-Scrap-5.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Makinas-Scrap-5";
  src: url(https://nabettu.github.io/fonts/Makinas-Scrap-5.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/yanagi.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "yanagi";
  src: url(https://nabettu.github.io/fonts/yanagi.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/irohamaru-Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "irohamaru-Regular";
  src: url(https://nabettu.github.io/fonts/irohamaru-Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/ant-kaku.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "ant-kaku";
  src: url(https://nabettu.github.io/fonts/ant-kaku.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/Boku2Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "Boku2Regular";
  src: url(https://nabettu.github.io/fonts/Boku2Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/genkai-mincho.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "genkai-mincho";
  src: url(https://nabettu.github.io/fonts/genkai-mincho.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/irohakakuRegular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "irohakakuRegular";
  src: url(https://nabettu.github.io/fonts/irohakakuRegular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/k-gothic.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "k-gothic";
  src: url(https://nabettu.github.io/fonts/k-gothic.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/851tegaki_kaku.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "851tegaki_kaku";
  src: url(https://nabettu.github.io/fonts/851tegaki_kaku.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/CP_Font.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "CP_Font";
  src: url(https://nabettu.github.io/fonts/CP_Font.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/corporatemin.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "corporatemin";
  src: url(https://nabettu.github.io/fonts/corporatemin.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/utamin-02.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "utamin-02";
  src: url(https://nabettu.github.io/fonts/utamin-02.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/JISZ8903.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "JISZ8903";
  src: url(https://nabettu.github.io/fonts/JISZ8903.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/NasuRegular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "NasuRegular";
  src: url(https://nabettu.github.io/fonts/NasuRegular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/mamelonfont.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "mamelonfont";
  src: url(https://nabettu.github.io/fonts/mamelonfont.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/kirin-Regular.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "kirin-Regular";
  src: url(https://nabettu.github.io/fonts/kirin-Regular.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/chogokubosogothic.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "chogokubosogothic";
  src: url(https://nabettu.github.io/fonts/chogokubosogothic.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/851chikara_yowaku.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "851chikara_yowaku";
  src: url(https://nabettu.github.io/fonts/851chikara_yowaku.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/banban.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "banban";
  src: url(https://nabettu.github.io/fonts/banban.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/19seg-oval-roundB.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "19seg-oval-roundB";
  src: url(https://nabettu.github.io/fonts/19seg-oval-roundB.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/pupupu.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "pupupu";
  src: url(https://nabettu.github.io/fonts/pupupu.woff2) format("woff2");
}</style></div><div class="loader"><link href="https://nabettu.github.io/fonts/memoirsquare.woff2" rel="preload" as="font" crossorigin="anonymous" type="font/woff2"><style>@font-face {
  font-family: "memoirsquare";
  src: url(https://nabettu.github.io/fonts/memoirsquare.woff2) format("woff2");
}</style></div></div> */
